name: Cleanup merged branches # after successful PR merge
on:
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Delete branch
        uses: SvanBoxel/delete-merged-branch@v1
        with:
          delete_closed_pr_branch: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}