name: Cleanup merged branches
on:
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Delete branch
        run: |
          if [[ ${{ github.event.pull_request.head.repo.full_name }} == ${{ github.repository }} ]]; then
            git push origin --delete ${{ github.event.pull_request.head.ref }}
          fi